@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    box-sizing: border-box;
}

.container-header {
    display: flex;
    flex-direction: row;
    font-family: Nunito;
    justify-content: space-between;
    padding: 2rem 5rem;
}

.container-header a{
    font-weight: bold;
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
}

.container-header li{
    list-style: none;
    display: inline;
    margin-right: 2.5rem;
}

.container-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 12rem;
    background-image: url(/assets/images/forma1.svg);
    background-repeat: no-repeat;

}

.container-main-right {
    
}

.container-main p{
    font-family: Nunito;
    font-weight: bolder;
    font-size: 2.5rem;
}

.container-main button {
    background-color: #FCA60F;
    border-radius: .3rem;
    color: #FFF;
    font-size: 1.5rem;
    padding: .7rem 3rem;
    cursor: pointer;
    margin: 2rem 0;
}

.scroll {
    display: flex;
    justify-content: center;
    
}