@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    box-sizing: border-box;
}

.container-header {
    display: flex;
    flex-direction: row;
    font-family: Nunito;
    justify-content: space-between;
    padding: 2rem 13.8rem;
    box-shadow:  0 0 5px;
}

.container-header a{
    font-weight: bold;
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
}

.container-header li{
    list-style: none;
    display: inline;
    margin-right: 2.5rem;
}

.container-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 12rem;
}

.forma-um {
    position: absolute;
    top: 220px;
    left: -100px;
    z-index: -1;
}

.forma-dois {
    position: absolute;
    top: 100px;
    right: -180px;
    z-index: -1;
}

.container-main-right {
    padding: 0 30px;
}

.container-main-left {
    display: flex;
    justify-content: flex-end;
}

.container-main p{
    font-family: Nunito;
    font-weight: bolder;
    font-size: 2.5rem;
}

.container-main button {
    background-color: #FCA60F;
    border-radius: .3rem;
    color: #FFF;
    font-size: 1.5rem;
    padding: .7rem 3rem;
    cursor: pointer;
    margin: 2rem 0;
}

.social-media {
    cursor: pointer;
}

.scroll {
    text-align: center;
}

.scroll p {
    margin-bottom: 10px;
    font-family: Nunito;
    font-weight: 700;
}

@media screen and (max-width: 1006px) {

    .container-main {
    grid-template-columns: 1fr;
    }
}